# Weitere Daten

Für die Auswertung habe ich den Zeitraum von **2010 bis 2020** gewählt.

Folgende Variablen habe ich ausgewählt:
| Variable | Quelle |
| --- | --- |
| Anzahl der Menschen, die E-Books lesen | [Statista](https://de.statista.com/statistik/daten/studie/265230/umfrage/e-reader-tablet-smartphone-lesen-von-buechern-auf-elektronischen-geraeten/) |
| Anzahl der Menschen, die mehrmals die Woche/mehrmals im Monat/einmal im Monat lesen | [Vuma](https://www.vuma.de/vuma-praxis/vuma-berichtsband) |
| Anzahl der verkauften E-Book | [Statista](https://de.statista.com/statistik/daten/studie/232191/umfrage/absatz-von-e-books-in-deutschland/) |

Die Daten habe ich direkt in das Dataframe übertragen, weil es keine gute Datenquellen außer der graphischen Darstellungen gab.

## Dataframe erstellen

In [6]:
# import modules
import pandas as pd
import numpy as np

reading_df = pd.DataFrame(
    {
        # general info
        'year' : ([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]),
        
        # reading habits
        'digital_readers': ([np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 7650000, 8520000, 8680000, 9120000]),

        'readers_weekly' : ([20400000, 20500000, 20000000, 19300000, 18500000, 18100000, 18100000, 11640000, 11930000, 11960000, 12620000]),
        'readers_monthly' : ([20900000, 20500000, 20600000, 21100000, 21300000, 20200000, 20100000, 15070000, 14840000, 14730000, 14710000]),
        'readers_once_month' : ([12000000, 11500000, 10100000, 10000000, 10400000, 10400000, 10100000, 6870000, 7060000, 7110000, 7030000]),

        # publishing information
        'ebook_sales': ([1900000, 4300000, 13200000, 21500000, 24800000, 27000000, 28100000, 29100000, 32800000, 32400000, 35800000]),
    }
)

## Gesammelte Daten

In [7]:
reading_df

,year,digital_readers,readers_weekly,readers_monthly,readers_once_month,ebook_sales
0,2010,NaN,20400000,20900000,12000000,1900000
1,2011,NaN,20500000,20500000,11500000,4300000
2,2012,NaN,20000000,20600000,10100000,13200000
3,2013,NaN,19300000,21100000,10000000,21500000
4,2014,NaN,18500000,21300000,10400000,24800000
5,2015,NaN,18100000,20200000,10400000,27000000
6,2016,NaN,18100000,20100000,10100000,28100000
7,2017,7650000.0,11640000,15070000,6870000,29100000
8,2018,8520000.0,11930000,14840000,7060000,32800000
9,2019,8680000.0,11960000,14730000,7110000,32400000
10,2020,9120000.0,12620000,14710000,7030000,35800000

In [8]:
reading_df.dtypes

year                    int64
digital_readers       float64
readers_weekly          int64
readers_monthly         int64
readers_once_month      int64
ebook_sales             int64
dtype: object